{% extends "base.html" %}
{% block title %}Рукописи{% endblock %}

{% block content %}
<h2>Список рукописей</h2>

<div class="row g-4">
    {% for manuscript in manuscripts %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ manuscript.title }}</h5>
                    <p class="text-muted">Проект: {{ manuscript.project.title }}</p>
                    <p><strong>Статус:</strong> {{ manuscript.is_ready_for_print|yesno:"Готова,В работе" }}</p>
                    <a href="{{ manuscript.file.url }}" class="btn btn-primary btn-sm" download>Скачать</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-muted">Нет загруженных рукописей</p>
    {% endfor %}
</div>

<a href="{% url 'manuscript-upload' %}" class="btn btn-success">+ Загрузить рукопись</a>
{% endblock %}